[submodule "library/submodules/botan"]
	path = library/submodules/botan
	url = https://github.com/randombit/botan.git
[submodule "library/submodules/hidapi"]
	path = library/submodules/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "library/submodules/FIDO2Applet"]
	path = library/submodules/FIDO2Applet
	url = https://github.com/BryanJacobs/FIDO2Applet.git
[submodule "library/submodules/bluez_inc"]
	path = library/submodules/bluez_inc
	url = https://github.com/weliem/bluez_inc.git
